[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-hvac = "*"
envparse = "*"
ptpython = "*"
aiohttp = "*"
aiodns = "*"
cchardet = "*"
webargs = "*"

[dev-packages]
